@media (max-width: 300px) {
  html {
    font-size: 40px;
  }
}
@media (min-width: 301px) and (max-width: 330px) {
  html {
    font-size: 44px;
  }
}
@media (min-width: 331px) and (max-width: 375px) {
  html {
    font-size: 50px;
  }
}
@media (min-width: 376px) and (max-width: 405px) {
  html {
    font-size: 54px;
  }
}
@media (min-width: 406px) and (max-width: 450px) {
  html {
    font-size: 60px;
  }
}
@media (min-width: 451px) and (max-width: 480px) {
  html {
    font-size: 64px;
  }
}
@media (min-width: 481px) and (max-width: 525px) {
  html {
    font-size: 70px;
  }
}
@media (min-width: 526px) and (max-width: 555px) {
  html {
    font-size: 74px;
  }
}
@media (min-width: 556px) and (max-width: 600px) {
  html {
    font-size: 80px;
  }
}
@media (min-width: 601px) and (max-width: 640px) {
  html {
    font-size: 84px;
  }
}
@media (min-width: 641px) and (max-width: 675px) {
  html {
    font-size: 90px;
  }
}
@media (min-width: 676px) and (max-width: 705px) {
  html {
    font-size: 94px;
  }
}
@media (min-width: 706px) and (max-width: 750px) {
  html {
    font-size: 100px;
  }
}
@media (min-width: 751px) {
  html {
    font-size: 100px;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
#app {
  overflow: scroll;
}
body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  font-family: system-ui, -apple-system, -apple-system-font, "Segoe UI", "Roboto", sans-serif;
  font-size: 12px;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  /* Padding to avoid the "unsafe" areas behind notches in the screen */
  background: #0050a0;
  width: 100%;
}
.framework7-root {
  padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
}
img {
  max-width: 100%;
  vertical-align: top;
}
.hide {
  display: none !important;
}
.header {
  height: 44px !important;
  line-height: 44px !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0050a0;
  color: #fff;
}
.header > div {
  line-height: 44px !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header > div:nth-child(1) {
  width: 40px;
  cursor: pointer;
}
.header > div:nth-child(1) > i {
  font-size: 24px;
}
.header > div:nth-child(3) {
  width: 40px;
  cursor: pointer;
}
.header > div:nth-child(2) {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
     -moz-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 17px;
}
.header:before,
.header:after {
  height: 0px !important;
}
.page-content {
  padding-top: 44px !important;
}
.page-content.notop {
  padding-top: 0 !important;
}
.scroll {
  /* Customize website's scrollbar like Mac OS
  Not supports in Firefox and IE */
  /* total width */
  /* background of the scrollbar except button or resizer */
  /* scrollbar itself */
  /* set button(top and bottom of the scrollbar) */
}
.scroll::-webkit-scrollbar {
  background-color: #fff;
  width: 8px;
}
.scroll::-webkit-scrollbar-track {
  background-color: #fff;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: #babac0;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  border: 2px solid #fff;
}
.scroll::-webkit-scrollbar-button {
  display: none;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #cccccc;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #cccccc;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #cccccc;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #cccccc;
}
