<template>
  <div class="page">
    <div class="page-content" style="background-color:#fff;">
      <img src="./assets/home_head_img_@3x.png" alt="" style="width: 100%;" />
      <div
        style="position: absolute;top: 0;left: 35%;line-height: 20vw;color: white;font-size: 4vw"
      >
        国网信通产业集团
      </div>

      <div class="row" style="margin: 5% 5%;text-align: center">
        <div class="col-25">
          <a href="/networkConnections"
            ><img
              src="./assets/home/home_icon_01_@3x.png"
              alt=""
              style="width: 80%;"
            /><br /><span style="color: #333333;">网络接入</span></a
          >
        </div>
        <div class="col-25">
          <a href=""
            ><img
              src="./assets/home/home_icon_02_@3x.png"
              alt=""
              style="width: 80%;"
            /><br /><span style="color: #333333;">园内轨迹</span></a
          >
        </div>
        <div class="col-25">
          <a href="/parkLocation"
            ><img
              src="./assets/home/home_icon_03_@3x.png"
              alt=""
              style="width: 80%;"
            /><br /><span style="color: #333333;">园区位置</span></a
          >
        </div>
        <div class="col-25">
          <a href="/venueIntroduction"
            ><img
              src="./assets/home/home_icon_04_@3x.png"
              alt=""
              style="width: 80%;"
            /><br /><span style="color: #333333;">地点介绍</span></a
          >
        </div>
      </div>
      <div class="row" style="margin: auto 5%;margin-top: 0;text-align: center">
        <div class="col-25">
          <a href="/ty/"
            ><img
              src="./assets/home/home_icon_05_@3x.png"
              alt=""
              style="width: 80%;"
            /><br /><span style="color: #333333;">天眼</span></a
          >
        </div>
        <div class="col-25">
          <a href="/open/2"
            ><img
              src="./assets/home/home_icon_06_@3x.png"
              alt=""
              style="width: 80%;"
            /><br /><span style="color: #333333;">充电桩</span></a
          >
        </div>
        <div class="col-25">
          <a class="no-external" href="/open/1"
            ><img
              src="./assets/home/home_icon_07_@3x.png"
              alt=""
              style="width: 80%;"
            /><br /><span style="color: #333333;">多站融合</span></a
          >
        </div>
        <div class="col-25">
          <a href=""
            ><img
              src="./assets/home/home_icon_08_@3x.png"
              alt=""
              style="width: 80%;"
            /><br /><span style="color: #333333;">更多</span></a
          >
        </div>
      </div>
      <div
        style="width: 100%;height: 5vw;background: #f2f2f2;margin-top: 7vw"
      ></div>
      <div style="padding: 5%;">
        <img src="./assets/home_end_img_@3x.png" alt="" style="width: 100%" />
      </div>
    </div>
  </div>
</template>

<script>
  return {
    on: {
      pageBeforeIn: function() {},
      pageInit: function() {
        var self = this;
        var router = self.$router;

        require(["app", "help", "data", "config"], function(
          app,
          help,
          data,
          config
        ) {
          help.hideHeader();
        });
      }
    }
  };
</script>
