<template>
  <div class="page">
    <div class="page-content  open-page-content">

      <iframe src="" id="openUrl" allowTransparency="true" frameborder="0" />

    </div>

  </div>
</template>

<script>
  return {
    on: {
      pageBeforeIn: function() {},
      pageInit: function() {
        var self = this;
        var router = self.$router;

        var type = router.currentRoute.params.url;

        require([
          "app",
          "help",
          "data",
          "config",
          "css!../css/index/open.css"
        ], function(app, help, data, config) {

          var title="多站融合";
          var url ="http://36.33.24.131:17002/BDZ/index.html";

          if(type == "2") {
            title="充电桩";
            url ="http://org.modao.cc/app/38786ac0128d4db3113a61f4a7b0e69a/embed";
          }
          
          help.showHeader(title);
          $("#openUrl").attr("src", url);
        });
      }
    }
  };
</script>
