<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;"
    /> -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover"
    />
    <meta name="theme-color" content="#2196f3" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <title>国网信通</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="lib/css/framework7.v4.1.1.min.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/framework7-icons.css" />
  </head>

  <body>
    <div id="app" style="width:100%;margin:0 auto;">
      <!-- Your main view, should have "view-main" class -->
      <div class="view  ios-edges  main-view-container">
        <!--
          Page, data-name contains page name which can be used in callbacks
        -->
        <div class="page home-page" data-name="home">
          <!-- Top Navbar -->
          <div class="navbar header">
            <div class="header-back"><i class="f7-icons">chevron_left</i></div>
            <div class="header-title"></div>
            <div></div>
          </div>
          <!-- Scrollable page content -->
          <div class="page-content">
            <div class="view-main">
              <div class="page">
                <div class="navbar">
                  <div class="navbar-inner sliding"></div>
                </div>
                <div class="page-content"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 停车场管理 - 长租车查询 -->
    <script id="parkingLongListTemplate" type="text/template7">
          <table id="parkingLongListTable">
          <thead>
          	<tr>
          		<td>序号</td>
          		<td>停车场</td>
          		<td>类型</td>
          		<td>车牌号</td>
          		<td>手机号</td>
          		<td>姓名</td>
       		<td>创建时间</td>
       		<td>开始时间</td>
       		<td>结束时间</td>
       		<td>缴费金额（元）</td>
       		<td>状态</td>
          	</tr>
          </thead>
          		<tbody >
          {{#each list}}
          <tr>
          <td>{{@index+1}}</td>
          <td>{{cname}}</td>
          <td>{{type}}</td>
          <td>{{plate}}</td>
          <td>{{mobile}}</td>
          <td>{{username}}</td>
          <td>{{createtime}}</td>
      <td>{{begintime}}</td>
      <td>{{endtime}}</td>
          <td>&yen;{{fee}}</td>
          <td class='{{#js_if "this.status=='已作废'"}}end{{/js_if}}'>{{status}}</td>
          </tr>
          {{/each}}
          </tbody>
          	</table>
    </script>

    <script>
      if (typeof Object.assign != "function") {
        // Must be writable: true, enumerable: false, configurable: true
        Object.defineProperty(Object, "assign", {
          value: function assign(target, varArgs) {
            // .length of function is 2
            if (target == null) {
              // TypeError if undefined or null
              throw new TypeError("Cannot convert undefined or null to object");
            }

            var to = Object(target);

            for (var index = 1; index < arguments.length; index++) {
              var nextSource = arguments[index];

              if (nextSource != null) {
                // Skip over if undefined or null
                for (var nextKey in nextSource) {
                  // Avoid bugs when hasOwnProperty is shadowed
                  if (
                    Object.prototype.hasOwnProperty.call(nextSource, nextKey)
                  ) {
                    to[nextKey] = nextSource[nextKey];
                  }
                }
              }
            }
            return to;
          },
          writable: true,
          configurable: true
        });
      }
    </script>
    <script data-main="js/index.js" src="lib/js/require.2.3.6.min.js"></script>
  </body>
</html>
