.ty-page-content {
  background-color: #0050a0;
}
.ty-page-content > div:nth-child(1) {
  margin-top: -44px;
}
.ty-page-content > div:nth-child(1) > img {
  width: 100%;
}
.ty-page-content > div:nth-child(2) {
  margin: 0.36rem 0.3rem 0.36rem;
}
.ty-page-content > div:nth-child(2) > div:nth-child(1) {
  height: 0.32rem;
  background: url(../../img/01_title_@3x.png) no-repeat;
  background-size: auto 100%;
  margin-bottom: 0.2rem;
}
.ty-page-content > div:nth-child(2) > div:nth-child(2) {
  background-color: #0064b4;
  padding: 0.3rem 0.3rem 0.4rem;
  -webkit-border-radius: 0.08rem;
          border-radius: 0.08rem;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
}
.ty-page-content > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div {
  margin-bottom: 0.1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}
.ty-page-content > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div > div + div {
  margin-left: 0.1rem;
}
.ty-page-content > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
     -moz-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  cursor: pointer;
  -webkit-transition: all linear 100ms;
  transition: all linear 100ms;
  border: 2px solid rgba(0, 0, 0, 0);
}
.ty-page-content > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div > div.focus {
  border: 2px solid #00ffff;
}
.ty-page-content > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div > div > img {
  width: 100%;
}
.ty-page-content > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div > div > div:nth-child(2) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background: rgba(50, 150, 255, 0.8);
}
.ty-page-content > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
  margin-top: 0.25rem;
  line-height: 26px;
  font-size: 16px;
  color: #00ffff;
  text-align: center;
}
.ty-page-content > div:nth-child(2) > div:nth-child(2) > div:nth-child(3) {
  margin-top: 0.05rem;
}
.ty-page-content > div:nth-child(2) > div:nth-child(2) > div:nth-child(3) > img {
  width: 100%;
}
.ty-page-content > div:nth-child(3) {
  margin: 0.36rem 0.3rem 0.36rem;
}
.ty-page-content > div:nth-child(3) > div:nth-child(1) {
  height: 0.32rem;
  background: url(../../img/02_title_@3x.png) no-repeat;
  background-size: auto 100%;
  margin-bottom: 0.2rem;
}
.ty-page-content > div:nth-child(3) > div:nth-child(2) > div {
  background-color: #0064b4;
  -webkit-border-radius: 0.08rem;
          border-radius: 0.08rem;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
}
.ty-page-content > div:nth-child(3) > div:nth-child(2) > div:nth-child(2),
.ty-page-content > div:nth-child(3) > div:nth-child(2) > div:nth-child(3),
.ty-page-content > div:nth-child(3) > div:nth-child(2) > div:nth-child(4) {
  margin-top: 0.2rem;
  padding: 0 0.3rem;
}
.ty-page-content > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1),
.ty-page-content > div:nth-child(3) > div:nth-child(2) > div:nth-child(3) > div:nth-child(1),
.ty-page-content > div:nth-child(3) > div:nth-child(2) > div:nth-child(4) > div:nth-child(1) {
  font-size: 16px;
  color: #96c8ff;
  line-height: 40px;
  border-bottom: 1px solid #0053a3;
}
.ty-page-content > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2),
.ty-page-content > div:nth-child(3) > div:nth-child(2) > div:nth-child(3) > div:nth-child(2),
.ty-page-content > div:nth-child(3) > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4rem 0rem 0.4rem 0.5rem;
  padding: 5vw 0 5vw 7vw;
}
.ty-page-content > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1),
.ty-page-content > div:nth-child(3) > div:nth-child(2) > div:nth-child(3) > div:nth-child(2) > div:nth-child(1),
.ty-page-content > div:nth-child(3) > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) > div:nth-child(1) {
  width: 2.4rem;
  height: 2.4rem;
  width: 32vw;
  height: 32vw;
}
.ty-page-content > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > img,
.ty-page-content > div:nth-child(3) > div:nth-child(2) > div:nth-child(3) > div:nth-child(2) > div:nth-child(1) > img,
.ty-page-content > div:nth-child(3) > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) > div:nth-child(1) > img {
  width: 100%;
}
.ty-page-content > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > canvas,
.ty-page-content > div:nth-child(3) > div:nth-child(2) > div:nth-child(3) > div:nth-child(2) > div:nth-child(1) > canvas,
.ty-page-content > div:nth-child(3) > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) > div:nth-child(1) > canvas {
  width: 100%;
  height: 100%;
}
.ty-page-content > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2),
.ty-page-content > div:nth-child(3) > div:nth-child(2) > div:nth-child(3) > div:nth-child(2) > div:nth-child(2),
.ty-page-content > div:nth-child(3) > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) > div:nth-child(2) {
  font-size: 16px;
  line-height: 26px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.ty-page-content > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div,
.ty-page-content > div:nth-child(3) > div:nth-child(2) > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) > div,
.ty-page-content > div:nth-child(3) > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) > div:nth-child(2) > div {
  text-align: right;
}
.ty-page-content > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div > span:nth-child(1),
.ty-page-content > div:nth-child(3) > div:nth-child(2) > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) > div > span:nth-child(1),
.ty-page-content > div:nth-child(3) > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) > div:nth-child(2) > div > span:nth-child(1) {
  color: #96c8ff;
}
.ty-page-content > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div > span:nth-child(2),
.ty-page-content > div:nth-child(3) > div:nth-child(2) > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) > div > span:nth-child(2),
.ty-page-content > div:nth-child(3) > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) > div:nth-child(2) > div > span:nth-child(2) {
  color: #ffffff;
  margin-left: 2px;
}
