.ty-page-content {
  background-color: #0050a0;
  > div:nth-child(1) {
    // height: 6.28rem;
    // background: url(../../img/head_@3x.png) no-repeat;
    // background-size: 100% 100%;
    margin-top: -44px;
    > img {
      width: 100%;
    }
  }
  > div:nth-child(2) {
    margin: 0.36rem 0.3rem 0.36rem;
    > div:nth-child(1) {
      height: 0.32rem;
      background: url(../../img/01_title_@3x.png) no-repeat;
      background-size: auto 100%;
      margin-bottom: 0.2rem;
    }
    > div:nth-child(2) {
      background-color: #0064b4;
      padding: 0.3rem 0.3rem 0.4rem;
      border-radius: 0.08rem;
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
      > div:nth-child(1) {
        > div {
          margin-bottom: 0.1rem;
          display: flex;
          justify-content: space-between;
          overflow: hidden;
          > div + div {
            margin-left: 0.1rem;
          }
          > div {
            flex: 1 1 auto;
            position: relative;
            cursor: pointer;
            transition: all linear 100ms;
            border: 2px solid rgba(0, 0, 0, 0);
            &.focus {
              border: 2px solid #00ffff;
            }
            > img {
              width: 100%;
            }
            > div:nth-child(2) {
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 20px;
              line-height: 20px;
              font-size: 12px;
              color: #fff;
              text-align: center;
              background: rgba(50, 150, 255, 0.8);
            }
          }
        }
      }
      > div:nth-child(2) {
        margin-top: 0.25rem;
        line-height: 26px;
        font-size: 16px;
        color: #00ffff;
        text-align: center;
      }
      > div:nth-child(3) {
        margin-top: 0.05rem;
        > img {
          width: 100%;
        }
      }
    }
  }

  > div:nth-child(3) {
    margin: 0.36rem 0.3rem 0.36rem;
    > div:nth-child(1) {
      height: 0.32rem;
      background: url(../../img/02_title_@3x.png) no-repeat;
      background-size: auto 100%;
      margin-bottom: 0.2rem;
    }
    > div:nth-child(2) {
      > div {
        background-color: #0064b4;
        border-radius: 0.08rem;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
      }
      // > div:nth-child(1) {
      //   //height: 4rem;
      // }
      > div:nth-child(2),
      > div:nth-child(3),
      > div:nth-child(4) {
        margin-top: 0.2rem;
        padding: 0 0.3rem;
        > div:nth-child(1) {
          font-size: 16px;
          color: #96c8ff;
          line-height: 40px;
          border-bottom: 1px solid #0053a3;
        }
        > div:nth-child(2) {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0.4rem 0rem 0.4rem 0.5rem;
          padding: 5vw 0 5vw 7vw;
          > div:nth-child(1) {
            width: 2.4rem;
            height: 2.4rem;
            width: 32vw;
            height: 32vw;
            //border: 1px solid red;
            > img {
              width: 100%;
            }
            > canvas {
              width: 100%;
              height: 100%;
            }
          }
          > div:nth-child(2) {
            font-size: 16px;
            line-height: 26px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            > div {
              text-align: right;
              > span:nth-child(1) {
                color: #96c8ff;
              }
              > span:nth-child(2) {
                color: #ffffff;
                margin-left: 2px;
              }
            }
          }
        }
      }
    }
  }
}
