

@media screen and (max-width:768px){

	/* Your app styles here */
	.ios .tabbar-labels .tab-link:not(.tab-link-active) .icon-ios-fill {
	  display: none;
	}
	.ios .tabbar-labels .tab-link.tab-link-active .icon:not(.icon-ios-fill) {
	  display: none;
	}
	
	input{
		border:1px solid #eee;	
	}
	
	
	.border-bottom{
		border-bottom: 1px solid #eee !important;	
	}
	.auth-width{
		width:100%;	
	}
	
	.paddingleft0{
		padding-left:0px;	
	}
	
	.margin-top{
		margin-top:10px;
	}
	
	.margin-bottom{
		margin-bottom:10px;	
	}
	
	.padding-bottom{
		padding-bottom:10px;	
	}
		
	.text-right{
		text-align:right;
	}
	
	.ios .navbar .title{
		color:#ffffff;
		margin:0 auto;
	}
	
	.ios .navbar{
		background-color:#007aff;
	}
	.ios  .button {
	  border-color: #007aff;
	  color: #333;
	}
	
	.none{
		border:0px solid #fff;	
	}
	
	.get-code{
		width: 30%;
	    float: left;
	    height: 44px;
	    border: 1px solid #ddd;	
	}
	input.get-code-input{
		width:70% !important;
		float:left !important;
		-webkit-border-radius: 5px 0px 0px 5px !important;
	    border-radius: 5px 0px 0px 5px !important;
	    border-right:0px solid #fff !important;
	}
	
	.ios  .radio input[type="radio"]:checked ~ .icon-radio{
		border-color:#007aff;
	}
	.back{
		color:#fff !important;	
	}
	.addr-inner:after{
		height:0px !important;
	}
	
	.log-filter {
		background:#fff;	
	}
	
	.canlogin{
		text-align:center;	
	}
	.login-buttons-row .login-tab{
		width:50%;
		float:left;
		color:#ddd !important;
		border:0px solid #fff;
	    -webkit-border-radius: 0px;
	    border-radius: 0px;
	}
	
	.center{
		text-align: center;	
	}
	
	.login-screen input{
		border:1px solid #ddd;
		padding-left:10px !important;
		-webkit-border-radius: 5px;
	    border-radius: 5px;
		
	}
	
	
	.canotlogin{
		filter:alpha(opacity:30);
		opacity:0.3; 
		-moz-opacity:0.3;
		-khtml-opacity: 0.3;
		-webkit-opacity: 0.3;
	}
	
	::-webkit-input-placeholder { /* WebKit browsers */
	    color:    #ddd;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	    color:    #ddd;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	    color:    #ddd;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
	    color:    #ddd;
	}
	
	.ios .list .item-inner:after{
		
	}
	
	.login-buttons-row .login-tab:first-child{
		border-right:1px solid #ddd !important;	
	}
	
	.login-buttons-row .tab-link-active{
		background:#fff !important;
		color:#007aff !important;
		border:0px solid #fff;
		border-bottom:1px solid #007aff;
	}
	
	.log-filter .item{
		text-align:center;	
		border-right:1px solid #ddd;
		border-left:1px solid #ddd;
	}
	
	.log-filter .segmented{
		margin:0;	
	}
	.log-filter .segmented .button:first-child,.log-filter .segmented .button:last-child{
		border-radius: 0px 0 0 0px;	
	}
	
	.log-filter .segmented .button{
		height:50px;	
		line-height:initial;
	}
	
	.navbar-inner .title{
		width:100%;
		text-align:center !important;	
	}
	
	.lock-container {
		display:block;
		overflow:hidden;	
	}
	
	.lock-container  .scan-container{
		width:50px;
		height:50px;	
		float:left;
		margin-left:10px;
	}
	
	.lock-container .connect-container{
		float:left;	
	}
	
	.lock-container .scan-container .scan-btn{
		width:100%;	
	}
	
	.headbtn{
		color:#fff !important;	
	}
	
	.smart-select .item-after{
		max-width:100% !important;	
	}
	
	.public-parking-list  .swipeout-delete{
		margin-left:10px;	
	}
	
	.lock-code-edit-btn{
		background:#007aff !important;	
	}
	
	.list{
		margin:0 !important;
	}
	
	.list ul:after {
		height:0px !important;	
	}
	
	a.item-content{
		border-bottom:1px solid #ddd;	
	}
	
	
	
	.page-content .item-title{
		color:#4e4e4e !important;	
	}
	
	 #container {
	        width: 100%;
	        height: 100%;
	        margin: 0px;
	        font-size: 13px;
	    }
	    
	    #pickerBox {
	        position: absolute;
	        z-index: 9999;
	        top: 50px;
	        right: 30px;
	        width: 300px;
	    }
	    
	    #pickerInput {
	        width: 200px;
	        padding: 5px 5px;
	    }
	    
	    #poiInfo {
	        background: #fff;
	    }
	    
	    .amap_lib_placeSearch .poibox.highlight {
	        background-color: #CAE1FF;
	    }
	    
	    .amap_lib_placeSearch .poi-more {
	        display: none!important;
	    }
	
	
	.confirmBtn{
		width:60px;
		background-color:#007aff;
		color:#ffffff !important;	
		float:left;
	}
	
	.charge-set-item-container{
		font-size:8px;
	}
	
	.charge-set-input{
		width:30px !important;
		border:1px solid #ddd !important;
		height:30px !important;
		line-height:30px !important;
	}
	
	.charge-set-item {
		display:block;
		overflow:hidden;
		margin-top:10px;	
	}
	
	.charge-set-item .charge-set-item-input ,.charge-set-item .charge-set-item-label{
		float:left;
		line-height:30px;
	}
	
	.tabs{
		width:100%;	
	}
	
	.sugg-name {
		color:#000;
	}
	
	.order-filter .button,.log-filter .button{
		height:30px;	
		-webkit-border-radius: 0px !important;
	    border-radius: 0px!important;
	    border:0px;
	    border-right:1px solid #ddd;
	}
	
	.order-filter .button:last-child,.log-filter .button:last-child{
		-webkit-border-radius: 0px !important;
	    border-radius: 0px!important;
	    border-right:0px solid #ddd;
	}
	
	.order-filter .button:first-child,.log-filter .button:first-child{
		border-left:0px solid #ddd;
	}
	
	.order-filter p,.log-filter p{
		margin:0 !important;	
	}
	
	.data-table{
		background-color:#fff;	
	}
	
	.data-table a{
		color:#000;	
	}
	
	.data-table .item-after{
		border:1px solid #eee;	
		height:30px;
		line-height:30px;
		text-align:center;
	}
	
	.data-table .label-title,.data-table .smart-select{
		float:left;	
	}
	
	.data-table .label-title{
		height:30px;
		line-height:30px;	
		margin-right:10px;
	}
	
	.data-table input{
		width:40px;
		height:30px;
		text-align:center;
	}
	
	
	.set-item{
		display:block;
		overflow:hidden;	
		padding:10px;
		border-bottom:1px solid #ddd;
	}
	
	.set-item .item-title{
		height:44px;
		line-height:44px;	
	}
	
	
	.set-item .item-inner{
		padding-top:0px;
		padding-bottom:0px;	
	}
	
	.set-item .item-input,.set-item .item-title{
		float:left;
		margin-right:5px;	
	}
	
	.set-item .item-input input{
		border:1px solid #eee;	
		width:40px;
		height:34px !important;
	}
	.search-right select{
		height:	30px;
	}
	
	.search-right input,.search-right select{
		border:1px solid #ddd;
		width:100px;	
	}
	
	
	
	.md .list .item-inner:after{
		height:0px;	
	}
	
	.no-data{
	    text-align: center;
	    color: #666666;
	    height: 40px;
	    line-height: 40px;
	}
	
	.mask{
		display:none;
		background:#eee;
		width:100%;
		height:100%;
		position: fixed;
		filter:alpha(opacity:50); 
		opacity:0.5;  
		-moz-opacity:0.5;
		-khtml-opacity: 0.5;
		z-index:5999;
		top:0;
	}
	
	.params-list .item-title{
		font-size:14px !important;	
	}
	
	.home-page div.list{
		margin-top:10px !important;
	}
	
	
	.md .navbar ~ * .page-content, .md .navbar ~ .page-content{
		padding-top:0px;
	}
	
	.toolbar-admin-info,.toolbar-admin-header{
		display:none;
	}
	
	.md .subnavbar{
		background:#2196f3;
	}
	
	.searchbar-input-wrap input {
	    background: #fff;
	}
	
}

/** pad */
@media screen and (min-width: 768px) and (max-width:1024px){
	.item-title{
		color:red;
	}
	.md .navbar ~ * .page-content, .md .navbar ~ .page-content{
		padding-top:0px;
	}
	
	.toolbar-admin-info,.toolbar-admin-header{
		display:none;
	}
	
}
/** PC */
@media screen and (min-width:1024px){
	body{
		
	}		
	.navbar .title{
		margin:0 auto !important;
	}
	.page{
		width:90%;
		left:unset;
		right:0;
		background:#eee;
	}
	
	.smart-select-popup .page{
		width:100%;
	}
	
	.md .page{
		background:#eee;
	}
	
	.md .tabbar-labels.toolbar-bottom-md{
		height:100%;
		width:10%;
	}
	
	.tabbar-labels a.tab-link, .tabbar-labels a.link{
		height:56px;
		width:100%;
	}
	
	.toolbar-inner{
		display:block;
		top:128px;
	}
	
	.toolbar-inner a{
		margin-top:20px;
	}
	
	.md .toolbar{
		background:#ffffff;
	}
	
	.md .tabbar-labels a.tab-link-active{
		background:#107cd2;
	}
	
	.md .tabbar a.tab-link, .md .tabbar-labels a.tab-link{
		color:#666666;
	}
	
	.page-content{
		background:#fff;
		margin-left:20px;
		margin-right:20px;
		margin-top:90px;
		padding-top:0px !important;
		margin-bottom:10px;
	}
	
	#my-login-screen .page{
		width:100%;
	}	
	
	#my-login-screen .navbar{
		display:none;
	}
	
	.login-screen-content{
		width: 460px;
   	 	float: right;
    	right: 100px;
	}
	
	
	.home-page div.list ul li{
		width:200px;
		float:left;
		text-align:center;
		margin-left:20px;
	}
	
	.home-page div.list ul li a{
		height:200px;
		line-height:200px;
		width:200px;
		margin:0 auto;
		border:1px solid #eee;
		margin-top:20px;
		background:#2196f3;
		
	}
	
	.home-page div.list ul li a i,.home-page div.list ul li a  .item-title{
		color:#fff;
	}
	
	.home-page div.list .item-link .item-inner{
		background-image:none;
	}
	
	.home-page div.list ul:before{
		height:0px;
	}
	.toolbar-admin-info{
		width:100%;
		height:118px;
		background:#fff;
		display:block;
		border-bottom:1px solid #eee;
		color:#666666;
		text-align:center;
		line-height:64px;
		padding-top:30px;
	}
	.toolbar-admin-info img{
		width:50px;
		height:50px;
		-webkit-border-radius: 25px;
    	border-radius: 25px;
    	margin-top:7px;
	}
	
	.toolbar-admin-info i{
		float:left;
		height:64px;
		line-height:64px;
	}
	
	.toolbar-admin-info i:first-child{
		margin-left:5px;
	}
	
	.toolbar-admin-info i:last-child{
		margin-left:5px;
		font-size:12px;
	}
	
	.ptk-park-content  .swipeout-actions-right,.lot-batch-ptr-content  .swipeout-actions-right,.ptr-park-lot-content  .swipeout-actions-right,.error-lot-content   .swipeout-actions-right{
		right:100px;
		z-index:1024;
		height:41px;
		top:4px;
	}
	
	.subnavbar{
		padding:5px;
	}
	
	.smart-select-popup .page-content{
		margin-top:120px;
	}
	
	.md .inline-labels .item-label, .md .inline-label .item-label, .md .inline-labels .item-floating-label, .md .inline-label .item-floating-label{
		width:20%;
		text-align:left;
	}
	
	.public-parking-form ul,.lot-batch-form ul,.public-parking-lot-form ul,.public-lot-bind-form ul,.error-lot-form ul{
		width:80%;
		margin:0 auto;
	}
	
	.buttons{
		width:50%;
	}
	
	.ptr-preloader{
		display:none;
	}
	
	.block-title{
		height:40px;
		line-height:40px !important;
		text-align:center;
		background:#eee;
		margin-left: 0px !important;
    	margin-right: 0px !important;
	}
	
	.error-lot-content{
		padding-top:54px;
	}
	
	.searchbar-inner{
		background:#2196f3;
		padding-bottom:5px;
		padding:5px;
	}
	
	.searchbar-input-wrap input{
		background:#fff;
	}	
}
