<template>
  <div class="page">
    <div class="page-content  ty-page-content">
      <div>
        <img src="./img/head_@3x.png" />
      </div>

      <div>
        <div></div>
        <div>
          <div>
            <div>
              <div class="lineChartType focus" data-type="1">
                <img src="./img/01_img_01_@3x.png" />
                <div>云量</div>
              </div>
              <div class="lineChartType " data-type="2">
                <img src="./img/01_img_02_@3x.png" />
                <div>地面凝结类</div>
              </div>
            </div>
            <div>
              <div class="lineChartType " data-type="3">
                <img src="./img/01_img_03_@3x.png" />
                <div>视程障碍类</div>
              </div>
              <div class="lineChartType " data-type="4">
                <img src="./img/01_img_04_@3x.png" />
                <div>其他观测</div>
              </div>
            </div>
          </div>
          <div class="lineChartName">
            【云量】
          </div>
          <div class="lineChart">
            <img src="./img/01_chart_01_@3x.png" />
          </div>
        </div>
      </div>

      <div>
        <div></div>
        <div>
          <div style="position:relative">
            <div style="position: absolute;width: 100%">
              <div
                style="font-size: 9vw;color: white;margin-left: 5%"
                class="label-wendu"
              >
                21°
              </div>
              <div style="font-size: 5vw;color: white;margin-left: 5%">
                <span class="label-area">HeFei</span
                ><span style="margin-left: 10%" class="label-date"
                  >2019-04-26</span
                >
              </div>
              <img
                class="label-weather"
                src="./assets/cloudy.png"
                alt=""
                style="width: 20%;position: absolute;top: 0;right: 0;margin-right: 5%"
              />
              <canvas
                id="temperature"
                style="width: 88%;min-height: 50px;margin-left: 6%;"
              >
              </canvas>
              <div
                style="position: absolute;top: 70%;width: 88%;margin-left: 6%;display: flex;text-align: center;align-items: center"
              >
                {{#each time}}
                <div class="gg">{{this}}</div>
                {{/each}}
              </div>
            </div>
            <img src="./assets/wqx.png" alt="" style="width: 100%" />
          </div>
          <div>
            <div>空气质量</div>
            <div>
              <div style="position:relative;">
                <div
                  style="position: absolute;top: 00%;left: 0%;text-align: center;transform:translate(50%, 10%);"
                >
                  <br />
                  <span style="color: #94caef;font-size: 4vw;">污染指数</span
                  ><br />
                  <span
                    style="color: white;font-size: 7vw;"
                    class="label-polu-num"
                    >78</span
                  ><br />
                  <span
                    style="color: white;font-size: 4vw;"
                    class="label-polu-text"
                    >良</span
                  >
                </div>
                <canvas id="pmgaugeTargetCanvas"> </canvas>
              </div>
              <div>
                <div>
                  <span>PM10:</span><span class="label-polu-1">51</span>
                </div>
                <div>
                  <span>PM2.5:</span><span class="label-polu-2">48</span>
                </div>
                <div><span>NO2:</span><span class="label-polu-3">27</span></div>
                <div><span>SO2:</span><span class="label-polu-4">5</span></div>
                <div><span>O2:</span><span class="label-polu-5">90</span></div>
                <div><span>CO:</span><span class="label-polu-6">0</span></div>
              </div>
            </div>
          </div>
          <div>
            <div>舒适度</div>
            <div>
              <div class="canvasWrap" style="position:relative;">
                <div
                  style="position: absolute;top: 30%;left: 26%;text-align: center;"
                >
                  <span style="color: #94caef;font-size: 4vw;">空气湿度</span
                  ><br />
                  <span
                    style="color: white;font-size: 7vw;"
                    class="label-wetpercent"
                    >80</span
                  ><span style="color: white;font-size: 4vw;">%</span><br />
                </div>
                <canvas id="gaugeTargetCanvas"> </canvas>
              </div>
              <div>
                <div>
                  <span>体感温度:</span><span class="label-wet-1">23°C</span>
                </div>
                <div>
                  <span>紫外线指数:</span><span class="label-wet-2">9强</span>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div>风向风力</div>
            <div>
              <div><img src="./img/02_04_01_@3x.png" /></div>
              <div>
                <div>
                  <span>风向:</span><span class="label-wind-1">东南风</span>
                </div>
                <div>
                  <span>风力:</span><span class="label-wind-2">3-4级</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
  .gg {
    width: 16.6%;
    font-size: 4vw;
    color: rgb(50, 150, 240);
  }
</style>
<script>
  return {
    data: function() {
      return {
        time: ""
      };
    },
    methods: {
      // var temp = [19, 18, 17, 20, 18, 22, 21, 22];
      tem: function(temp) {
        var wds = document.getElementById("temperature");
        var context = wds.getContext("2d");

        for (var i = 0; i < temp.length; i++) {
          var v = temp[i];
          var x = (i * wds.width) / 6 - wds.width / 12;
          var y = ((30 - v) * wds.height) / 30;
          //context.fillStyle="#ffc832";
          if (i == 0) {
            context.moveTo(x, y);
          } else {
            context.lineTo(x - 3, y);
          }
          context.lineWidth = 2;
          context.strokeStyle = "#ffc832";
          context.stroke();

          if (i > 0 && i < temp.length - 1) {
            context.fillStyle = "#ffffff";
            context.font = "4vw Adobe Ming Std";
            context.fillText(v + "°", x - 10, y - 10);

            context.beginPath();
            context.arc(x, y, 3, 0, 2 * Math.PI, false);
            context.closePath();
            context.stroke();
          }
        }
      },
      tim: function(time) {
        var tmarr = time.split(":");
        if (parseInt(tmarr[1]) >= 30) {
          tmarr[0] = parseInt(tmarr[0]) + 1;
        }
        var newtime = [];
        for (var tt = 0, ttt = tmarr[0] - 2; tt < 6; tt++, ttt++) {
          if ((ttt + "").length === 1) {
            let a = "0" + ttt + ":00";
            newtime.push(a);
          } else {
            let a = ttt + ":00";
            newtime.push(a);
          }
        }
        for (var ttm = 0; ttm < 6; ttm++) {
          let atm = newtime[ttm].split(":");
          if (atm[0] === "-1") {
            newtime[ttm] = "23:00";
          } else if (atm[0] === "-2") {
            newtime[ttm] = "22:00";
          } else if (atm[0] === "24") {
            newtime[ttm] = "00:00";
          } else if (atm[0] === "25") {
            newtime[ttm] = "01:00";
          } else if (atm[0] === "26") {
            newtime[ttm] = "02:00";
          }
        }
        this.$setState({
          time: newtime
        });
      }
    },
    on: {
      pageBeforeIn: function() {},
      pageInit: function() {
        var self = this;
        var router = self.$router;

        // this.tem([19, 18, 17, 20, 18, 22, 21, 22]);
        // this.time = this.tim("01:00");

        require([
          "app",
          "help",
          "data",
          "config",
          "CustomComponentJS",
          "css!../css/ty/ty.css"
        ], function(app, help, data, config, CustomComponentJS) {
          help.showHeader("天眼");
          $(".lineChartType").on("click", function() {
            var type = $(this).attr("data-type");
            var typeName = $(this)
              .find("div:nth-child(2)")
              .html();
            $(".lineChartType").removeClass("focus");
            $(this).addClass("focus");
            $(".lineChartName").html("【" + typeName + "】");
            var imgSrc = "./img/01_chart_0" + type + "_@3x.png";
            $(".lineChart")
              .find("img")
              .attr("src", imgSrc);
          });

          var gaugeTargetCanvas = document.getElementById("gaugeTargetCanvas");

          var pmgaugeTargetCanvas = document.getElementById(
            "pmgaugeTargetCanvas"
          );

          app.request({
            url: "http://tstxg.ruolin-link.com:4101/gwxt.json",
            method: "GET",
            contentType: "application/x-www-form-urlencoded",
            async: true,
            data: {},
            timeout: 5000,
            processData: true,
            success: function(successData) {
              var data = JSON.parse(successData);
              $(".label-wendu").html(data.wendu);
              $(".label-area").html(data.area);
              $(".label-date").html(data.date);
              $(".label-weather").attr(
                "src",
                "./assets/" + data.weather + ".png"
              );
              self.tem(data.temprature);
              self.time = self.tim(new Date().format("hh:ii"));
              $(".label-polu-num").html(data.poluNum);
              $(".label-polu-text").html(data.poluText);
              $(".label-polu-1").html(data.polu[0]);
              $(".label-polu-2").html(data.polu[1]);
              $(".label-polu-3").html(data.polu[2]);
              $(".label-polu-4").html(data.polu[3]);
              $(".label-polu-5").html(data.polu[4]);
              $(".label-polu-6").html(data.polu[5]);
              $(".label-wet-1").html(data.wet[0]);
              $(".label-wet-2").html(data.wet[1]);
              $(".label-wind-1").html(data.wind[0]);
              $(".label-wind-2").html(data.wind[1]);
              $(".label-wetpercent").html(data.wetpercent);
              var gauge = new CustomComponentJS["Gauge"]();
              gauge.radius = 100;
              gauge.arcThickness = 10;
              gauge.curVal = data.wetpercent;
              gauge.sumVal = 100;
              gauge.targetCanvas = gaugeTargetCanvas;
              gauge.titleTxt = "空气湿度";
              gauge.titleFontSize = "28px";
              gauge.titleFontFamily = "微软雅黑";
              gauge.titleColor = "#96c8ff";
              gauge.valueFontSize = "56px";
              gauge.valueFontFamily = "微软雅黑";
              gauge.valueColor = "#ffffff";
              gauge.symbolTxt = "%";
              gauge.symbolFontSize = "32px";
              gauge.symbolFontFamily = "微软雅黑";
              gauge.symbolColor = "#ffffff";
              gauge.bgFillColor = "#0078d2";
              gauge.bgBorderColor = "#0078d2";
              gauge.valueFillColorArray = [
                { ratios: 0, color: "#12fff7" },
                { ratios: 0.2, color: "#12fff7" },
                { ratios: 1, color: "#b3ffab" }
              ];
              gauge.visibleTxtFlag = false;
              gauge.init();

              var pmGauge = new CustomComponentJS["PMGauge"]();
              // 目标Canvas
              pmGauge.targetCanvas = pmgaugeTargetCanvas;
              // 组件宽度
              pmGauge.contentWidth = $(".canvasWrap").width();
              // 组件高度
              pmGauge.contentHeight = $(".canvasWrap").height();
              pmGauge.setValueHandler(data.poluCount);
            },
            error: function(xhr, httpErrorCode) {},
            complete: function() {}
          });
        });
      }
    }
  };
</script>
