<template>
  <div class="page" data-name="venueIntroduction">
    <div class="page-content ptr-content">
      <div class="navbar" style="background: #0050A0">
        <div class="navbar-inner">
          <div class="left sliding">
            <a href="#" class="link back">
              <i class="icon icon-back" style="color: white;"></i>
              <span class="if-not-md"></span>
            </a>
          </div>
          <div
            class="title sliding"
            style="color: white;line-height: 56px;position: relative;left: 20%;"
          >
            网络连接
          </div>
          <div class="right"></div>
        </div>
      </div>
      <div style="height: 106px;text-align: center;margin-top: 50px;">
        <img
          src="./assets/wifi_succed@3x.png"
          alt=""
          style="width: 100px;position: relative;left: -5px"
        />
      </div>
      <div
        style="text-align: center;font-family: PingFangSC-Regular;font-size: 16px;color: #333333;letter-spacing: 0;"
      >
        已成功连接网络！
      </div>
      <div
        style="width: 80%;height: 110px;background: #F2F2F2;border-radius: 4px;margin: 50px auto;"
      >
        <div style="position: relative;top: 15px;">
          <div class="ff">连接时间：2019.04.26 12:00:09</div>
          <div class="ff">使用用户：17666666666</div>
          <div class="ff">连接网络：JY_GWTX</div>
        </div>
      </div>
      <div
        class="block-footer"
        style="position: absolute;bottom: 0;width: 100%;text-align: center;padding: 0"
      >
        <span>欢迎进入继远软件N联网服务体验园</span>
      </div>
    </div>
  </div>
</template>
<style>
  .ff {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    margin-left: 20%;
    margin-top: 8px;
  }
</style>
<script>
  // noinspection JSAnnotator
  return {
    mounted() {},
    data: function() {
      return {};
    },
    methods: {},
    on: {
      pageInit: function(e, page) {
        require(["app", "help", "data", "config"], function(
          app,
          help,
          data,
          config
        ) {
          help.hideHeader();
        });
      }
    }
  };
</script>
