<template>
  <div class="page" data-name="venueIntroduction">
    <div class="page-content ptr-content">
      <div class="navbar" style="background: #0050A0">
        <div class="navbar-inner">
          <div class="left sliding">
            <a href="#" class="link back">
              <i class="icon icon-back" style="color: white;"></i>
              <span class="if-not-md"></span>
            </a>
          </div>
          <div
            class="title sliding"
            style="color: white;line-height: 56px;position: relative;left: 20%;"
          >
            园区位置
          </div>
          <div class="right"></div>
        </div>
      </div>
      <div style="padding: 16px">
        <img src="./assets/map@3x.png" alt="" style="width: 100%" />
      </div>
      <img
        src="./assets/position2@3x.png"
        alt=""
        style="position: absolute;top: 25%;left: 20%;width: 10%"
      />
      <div style="padding: 16px;position: relative;top: -16px">
        <div style="background: #D8E0DC;width: 100%;min-height: 143px;">
          <div class="row">
            <div class="col-80">
              <div style="position: relative;top: 5px;">
                <div>
                  <div class="dd">1</div>
                  <span class="left ee">微气象站</span>
                </div>
                <div>
                  <div class="dd">2</div>
                  <span class="left ee">光伏、风力发电设备监测系统</span>
                </div>
                <div>
                  <div class="dd">3</div>
                  <span class="left ee">储能站</span>
                </div>
                <div>
                  <div class="dd">4</div>
                  <span class="left ee">直流充电桩</span>
                </div>
                <div>
                  <div class="dd">5</div>
                  <span class="left ee">集团云资源数据中心</span>
                </div>
              </div>
            </div>
            <div class="col-20">
              <div
                style="width: 40px;height: 118px;background: #00BE5A;border: 1px solid #0050A0;border-radius: 24px;text-align: center;position: relative;top: 10px;"
              >
                <span
                  style="font-family: PingFangSC-Medium;font-size: 16px;color: #FFFFFF;letter-spacing: 0;text-align: center;line-height: 16px;position: relative;top: 6px;"
                  >示<br />范<br />区<br />图<br />例</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
  .dd {
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 20px;
    color: white;
    background: #00be5a;
    border: 1px solid #0050a0;
    border-radius: 50%;
    margin: 2px 8px 2px 16px;
    display: inline-block;
  }
  .ee {
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #333333;
  }
</style>
<script>
  // noinspection JSAnnotator
  return {
    mounted() {},
    data: function() {
      return {};
    },
    methods: {},
    on: {
      pageInit: function(e, page) {
        require(["app", "help", "data", "config"], function(
          app,
          help,
          data,
          config
        ) {
          help.hideHeader();
        });
      }
    }
  };
</script>
