<template>
  <div class="page" data-name="venueIntroduction">
    <div class="page-content ptr-content">
      <div class="navbar" style="background: #0050A0">
        <div class="navbar-inner">
          <div class="left sliding">
            <a href="#" class="link back">
              <i class="icon icon-back" style="color: white;"></i>
              <span class="if-not-md"></span>
            </a>
          </div>
          <div
            class="title sliding"
            style="color: white;line-height: 56px;position: relative;left: 20%;"
          >
            地点介绍
          </div>
          <div class="right"></div>
        </div>
      </div>
      <div>
        <img src="./assets/banner@3x.png" alt="" style="width: 100%;" />
      </div>
      <div class="aa">
        继远软件园于2014年建成的服务整个园区WiFi无线网络，此次结合国网泛在电力物联网建设需求，继远软件在此基础上基于802.11ac的室外型双频设备进行了升级，应用通道切片、网络虚拟化技术，实现一套基础设施多张独立专网独立策略设置，提高电网资源N联网服务应用水平。过WiFi定位，实现各类人员在园区的行为轨迹审计及导航体验、访问点定位、介绍等服务。
      </div>
      <div class="bb">园区平面布局图</div>
      <div class="cc"></div>
      <div style="padding: 0 16px">
        <img src="./assets/buju.png" alt="" style="width: 100%;" />
      </div>
      <div class="bb" style="margin-top: 15px">1.微气象站</div>
      <div class="cc"></div>
      <div class="aa" style="position: relative;top: -18px;">
        微气象信息由主楼顶楼的“天眼”微气象系统提供。可实时获取园区微气象数据，包括地面凝结、视程障碍、空气指数等。
      </div>
      <div class="bb" style="margin-top: 15px">
        2.光伏、风力发电设备及监测系统
      </div>
      <div class="cc"></div>
      <div class="aa" style="position: relative;top: -18px;">
        <p style="margin: 0">
          主楼正上方的东边区域部署着光伏、风力发电设备及“光伏电站数据采集监测系统”，属于“多站融合”储能云网的重要组成部分，园区已实现零弃光和零弃风，达到新能源的完全消纳。
        </p>
        <p style="margin: 0">
          善用自然的力量，连接你与光伏，“光伏电站数据采集监测系统”
          是继远软件独立开发的一款光伏电站设备监控、出力预测系统。系统根据相似日构建深度学习模型，可准确预报光伏电站未来168小时出力，平均预测精度超过85%，达到电网对光伏电站电力负荷输出的调度要求。
        </p>
      </div>
      <div class="bb" style="margin-top: 15px">3.储能站</div>
      <div class="cc"></div>
      <div class="aa" style="position: relative;top: -18px;">
        储能站服务于园区风能、光伏消纳，直流充电桩、照明用电等，该储能站容量为**MW。储能云网聚集集中式储能、分布式储能资源，以量测、通信、数据存储、分析等多种技术作支撑，通过综合管理、统一调度、统一运营，构建综合能源生态圈，达到光伏站、风能站、储能站、变电站等分布式能源有机结合，实现多能源的高效、互补、节约、共享，助力“绿水青山”保卫战。
      </div>
      <div class="bb" style="margin-top: 15px">4.直流充电桩</div>
      <div class="cc"></div>
      <div class="aa" style="position: relative;top: -18px;">
        直流充电桩实现在微信公众号上远程预约车位,同时可提供充电路线规划功能，充电桩远程故障处理功能。目前充电桩有储能站及常规电源双路供电，可提供直流快充快充服务。
      </div>
      <div class="bb" style="margin-top: 15px">5.集团云资源数据中心</div>
      <div class="cc"></div>
      <div class="aa" style="position: relative;top: -18px;">
        信产集团云资源数据中心，数据中心按照国标A级数据中心标准（GB50174-2017）进行规划设计，采用模块化方式进行建设。项目分三期进行建设，其中一期建设服务器机柜约80面，二期建设服务器机柜约约120面，三期建设服务器机柜约约230面。
      </div>
    </div>
  </div>
</template>
<style>
  .aa {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #4a4a4a;
    letter-spacing: 0;
    line-height: 20px;
    padding: 15px;
  }
  .bb {
    width: 100%;
    height: 40px;
    background: #0050a0;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0;
    text-align: center;
    line-height: 38px;
  }
  .cc {
    border-style: solid;
    border-width: 18px 18px 18px 18px;
    border-color: #0050a0 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    width: 0;
    height: 0;
    position: relative;
    left: 44%;
    top: -2px;
  }
</style>
<script>
  // noinspection JSAnnotator
  return {
    mounted() {},
    data: function() {
      return {};
    },
    methods: {},
    on: {
      pageInit: function(e, page) {
        require(["app", "help", "data", "config"], function(
          app,
          help,
          data,
          config
        ) {
          help.hideHeader();
        });
      }
    }
  };
</script>
